{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.16.2"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}