{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}