<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>$(PROJECT_NAME)</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68428410-3"></script>
<link href="popup.css?dd33da7d429fd8f6b114" rel="stylesheet"></head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
<script type="text/javascript" src="popup.js?dd33da7d429fd8f6b114"></script><script type="text/javascript" src="reloader.js?dd33da7d429fd8f6b114"></script></body>

</html>