<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Popup Page</title>
<link href="popup.css?ee702f1c6cba6a890090" rel="stylesheet"></head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
<script type="text/javascript" src="popup.js?ee702f1c6cba6a890090"></script></body>

</html>